body{
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  }

h1{
  margin: 50px auto 0;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #66BFBF;
  }

h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;
}

a{
  color: #11999E;
}

p{
  color: #40514E;
}

hr{
  width: 8%;
  border-top: 12px dotted #EAF6F6;

  }

/* TOP CONTAINER */

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top:100px;
  padding-bottom: 100px;
}

/* MIDDLE CONTAINER */

.middle-container{

}

.profile{
  margin: 100px auto;
  width: 50%;
}

.skills{
  margin: 100px auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me{
  margin: 100px auto;
  width: 50%;

}

/* BOTTOM CONTAINER */

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.p-contactme{
  margin-bottom: 50px;
}

.p-copyright{
  color: #EAF6F6;
  padding: 20px 0 0;
}

.footer-link{
  padding: 0 30px;
  text-decoration: none;
}

.footer-link:hover{
  color: #ffffff;
}

/* IMAGES */
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 50px;
}

.top-cloud-right{
  position: absolute;
  top: 50px;
  right: 350px;
}

.top-cloud-left{
  position: absolute;
  top: 120px;
  left: 100px;
}

.middle-cloud-right{
  position: absolute;
  top: 250px;
  right: 150px;
}

.img-profile{
  width: 25%;
}

.img-skills{
  width: 25%;
}

.chilli-img-1{
  float: left;
  margin-right: 30px;
}

.chilli-img-2{
  float: right;
  margin-left: 30px;
}
